@model IEnumerable<Proyecto_PNT1.Models.Usuario>

@{
    ViewData["Title"] = "Profesionales";
}

<div class="container mt-5">
    <h1 class="text-center mb-5">Profesionales</h1>
    <div class="row">
        @foreach (var profesional in Model)
        {
            <div class="col-md-4 mb-4">
                <a href="@Url.Action("Details", "Profesionales", new { id = profesional.Id })" class="card card-custom">
                    <div class="card-body">
                        <h5 class="card-title">@profesional.Nombre @profesional.Apellido</h5>
                        <p class="card-text"><strong>Profesión:</strong> @profesional.Profesion</p>
                        <p class="card-text"><strong>Experiencia:</strong> @profesional.Experiencia</p>
                        <p class="card-text"><strong>Email:</strong> @profesional.Email</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
