@using System.Security.Claims
@model IEnumerable<Proyecto_PNT1.Models.Propuesta>

@{
    ViewData["Title"] = "Propuestas";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h1>Propuestas</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var propuesta in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card card-custom">
                    <div class="card-body">
                        <h5 class="card-title">@propuesta.Titulo</h5>
                        <p class="card-text"><strong>Descripción:</strong> @propuesta.Descripcion</p>
                        <p class="card-text"><strong>Requisitos:</strong> @propuesta.Requisitos</p>
                        <p class="card-text"><strong>Ubicación:</strong> @propuesta.Ubicacion</p>
                        <p class="card-text"><strong>Empresa:</strong> @propuesta.Empresa</p>
                        <a href="@Url.Action("Details", "Propuestas", new { id = propuesta.Id })" class="link-button">Ver Propuesta</a>
                        @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Email) == propuesta.CreadorId)
                        {
                            <a href="@Url.Action("Edit", "Propuestas", new { id = propuesta.Id })" class="btn btn-warning mx-1">Editar</a>
                            <a href="@Url.Action("Delete", "Propuestas", new { id = propuesta.Id })" class="btn btn-danger">Eliminar</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
